.preloader {
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #50c662;
  font-size: 21px;
}

.loadText {
  margin-right: 15px;
}
