.headerRow {
  margin: 0;
  width: 100%;
}

.headerSite {
  margin-bottom: 40px;
  background-color: #fff;
  border-bottom: 1px solid rgba(99, 99, 100,.2);
}

.navLink {
  font-weight: 700;
  font-size: 14px;
}
